/* Обнуление*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #3a3a3a;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* Обнуление*/

html {
    font-size: 62.5%;
    font-family: Arial, "Helvetica Neue" ,Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

/*authorization-bem*/
.modal-wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09101a;
    overflow: auto;
}
.modal {
    max-width: 516px;
    max-height: 550px;
    width: 100%;
}
.modal__content {
    /*max-width: 516px;*/
    /*max-height: 550px;*/
    /*width: 100%;*/
    background-color: #17212b;
}
.modal__close-wrapper {
    display: flex;
    justify-content: right;
    overflow: hidden;
}
.modal__close {
    color: #ffffff;
    background-color: #17212b;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 2rem;
}
.auth-form__img {
    width: 136px;
    height: 136px;
    background-color: #242f3d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 30px 0;
}
.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding: 0 100px 40px 100px;*/
    padding-bottom: 40px;
}
.auth-form__title {
    font-size: 2.4rem;
    margin: 0px 0 15px 0;
    color: #ffffff;
}
.auth-form__description {
    color: #b6b2b2;
    font-size: 1.6rem;
    margin-bottom: 45px;
}
.auth-form__input-wrapper + .auth-form__input-wrapper {
    margin-top: 25px;
}
.auth-form__input {
    border: none;
    /*margin-bottom: 25px;*/
    background-color: #17212b;
    caret-color: #ffffff;
    width: 300px;
    padding-left: 8px;
    border-bottom: 1px solid #465362;
    color: #858e97;
    font-size: 1.6rem;
}
.auth-form__input:hover,
.auth-form__input:focus {
    border-color: #5288c1;
    color: white;
}
.auth-form__btn-wrapper {
    margin-top: 40px;
}
.auth-form__btn {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background-color: #5288c1;
    color: #ffffff;
    font-size: 1.6rem;
}
.auth-form__btn:hover {
    background-color:  #406B99;
    transition: 0.3s ease;
}
/*authorization-bem*/

/*main-content*/
.content-wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #17212b;
}
.content{
    flex: 1 1 auto;
    background-color: #17212b;
}
.main-wrapper {
    width: 100%;
    display: flex;
}
.side-content {
    display: flex;
    flex-direction: column;
    flex: 35%;
    align-items: center;
    min-height: 100vh;
    border-right: 1px solid #0e1621;
}
.sidebar-wrapper {
    width: 100%;
    padding: 10px;
}
.sidebar-header {
    display: flex;
    align-items: center;
}
.sidebar-header__input-search-wrapper {
    margin-left: 10px;
}
.input-search {
    width: 220px;
    height: 32px;
    border-radius: 4px;
    background-color: #242f3d;
    caret-color: #ffffff;
    padding-left: 8px;
    color: #a9a9a9;
}
.input-search:focus {
    color: white;
}
.sidebar-header__btn-container {
    display: inline-block;
    cursor: pointer
}
.bar1, .bar2, .bar3 {
    width: 18px;
    height: 2px;
    background-color: #6c7883;
    margin: 3px 0;
    transition: 0.4s;
}
/*main-content*/

/*chat-list*/
.chat-list-wrapper {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
}

.chat-absolute-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-absolute-wrapper::-webkit-scrollbar {
    width: 0;
}

.chat-list {
    padding: 10px;
}

.chat-list__chat {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.chat-list__chat:hover,
.chat-list__chat:focus {
    background-color: #406B99;
}

.chat-list__chat + .chat-list__chat {
    margin-top: 20px;
}

.avatar img{
    vertical-align: middle;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.user-caption {
    margin-left: 10px;
}

.dialog-title span {
    color: #e0e1e3;
    font-size: 1.4rem;
    line-height: 24px;
}

.dialog-subtitle span {
    color: #718294;
    font-size: 1.4rem;
    line-height: 24px;
}

.user-last-message {
    white-space: nowrap;
}
/*chat-list*/

/*block-messages*/
.block-messages {
    display: flex;
    flex: 65%;
    flex-direction: column;
}

.block-messages__header {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.block-messages__tittle {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 24px;
}

.block-messages__subtitle {
    color: #5c6c7c;
    font-size: 1.4rem;
    line-height: 24px;
}

.messages-container {
    flex: 1 1 auto;
    background-color: #0e1621;
    position: relative;
}

.messages-absolute-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
}

.messages-absolute-wrapper::-webkit-scrollbar {
    width: 0;
}

.message-row {
    width: 96%;
    margin: 10px;
    display: flex;
}

.message-row-right {
    justify-content: flex-end;
}

.message-row-left {
    justify-content: flex-start;
}

.user-avatar-left {
    order: -1;
}

.message-row__text {
    background-color: #406B99;
    border-radius: 8px;
    padding: 10px;
    margin: 0 10px;
    display: flex;
}

.message__text {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 24px;
}

.message-time {
    display: flex;
    align-items: flex-end;
    color: #7da8d3;
    font-size: 1.4rem;
}

.message-time-left {
    order: -1;
    margin: 0 10px 0 0;
}

.message-time-right {
    margin: 0 0 0 10px;
}

.user-avatar img{
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-top: 5px;
}

.block-messages__footer {
    min-height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.new-message-wrapper {
    width: 100%;
    margin-right: 20px;
}

.input-message {
    width: 100%;
    border-radius: 4px;
    background-color: #17212b;
    caret-color: #ffffff;
    padding-left: 8px;
    font-size: 1.4rem;
    line-height: 24px;
    color: #ffffff;
}

.send-message__button {
    height: 28px;
    width: 112px;
    background-color: #5288c1;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}

.send-message__button:hover,
.send-message__button:active {
    background-color: #4572A3;
}
/*block-messages*/

/*modal-load-photo*/

.invisible {
    display: none;
}

.modal-photo-load {
    display: none;
}

.modal-load-photo {
    max-height: 220px;
    max-width: 360px;
    width: 100%;
}

.modal-load-photo__content {
    background-color: #17212b;
    border-radius: 6px;
}

.load-title {
    color: #ffffff;
    font-size: 1.8rem;
}

.wrapper-load-title {
    padding-left: 20px;
}

.desc-user-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 35px 20px 20px 20px;
}

.avatar-user .avatar-user-custom{
    vertical-align: middle;
    width: 84px;
    height: 84px;
    border-radius: 50%;
}

.avatar-user-default {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242f3d;
    cursor: pointer;
    border-radius: 50%;
}

.avatar-user-default__input {
    width: 84px;
    height: 84px;
    background: #242f3d url("image/photo.png") center no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    font-size: 0;
    overflow: hidden;
    position: relative;
    content: '';
    cursor: pointer;
}

.user-info {
    margin-left: 20px;
}

.user-info__name {
    font-size: 1.8rem;
    line-height: 24px;
    color: #ffffff;
}

.user-info__status {
    font-size: 1.4rem;
    line-height: 24px;
    color: #4eace9;
}

.photo-load-wrapper {
    max-height: 390px;
    max-width: 365px;
    width: 100%;
}

.photo-load-content {
    background-color: #17212b;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px 20px;
}

.img-wrapper {
    height: 300px;
    width: 280px;
    margin-bottom: 30px;
    position: relative;
}

.img-wrapper::after,
.img-wrapper::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #8b9095;
    position: absolute;
}

.img-wrapper::before {
    top: -5px;
    left: -5px;
}

.img-wrapper::after {
    left: -5px;
    bottom: -22px;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper__circle {
    height: 300px;
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.img-wrapper__circle::after,
.img-wrapper__circle::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #8b9095;
    position: absolute;
}

.img-wrapper__circle::after {
    right: -5px;
    top: -5px;
}

.img-wrapper__circle::before {
    bottom: -24px;
    right: -5px;
}

.photo-load__title {
    color: #5e6d7d;
    font-size: 1.4rem;
    line-height: 24px;
    margin-top: 14px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    height: 36px;
    width: 110px;
    color: #6ab2f2;
    font-size: 1.5rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 23px;
}

.btn:hover,
.btn:active {
    background-color: #1d2a39;
}

.btn-cancel {
    margin-right: 10px;
}

.btn-save {
    margin-right: 20px;
}
/*modal-load-photo*/

/*@media (max-width: 800px) {*/
/*    .side-content {*/
/*        flex: 100%;*/
/*        flex-shrink: 0;*/
/*    }*/

/*    .sidebar-header__input-search-wrapper {*/
/*        flex: 100%;*/
/*    }*/

/*    .input-search {*/
/*        width: 100%;*/
/*    }*/

/*    .block-messages {*/
/*        flex: 100%;*/
/*    }*/
/*}*/

@media (max-width: 850px) {
    .block-messages {
        flex: 100%;
        flex-shrink: 0;
    }

    .side-content {
        order: 1;
    }
}